        body {
            font-family: 'Open Sans', sans-serif;
            text-align: justify;
            color: #808080!important;
        }

        .hidden {
            display: hidden!important;
        }

        .iva {
            font-size: 10px;
        }

        .carrito {
            position: fixed;
            bottom: 85.7%;
            left: 80%;
            width: 20%;
            z-index: 1;
        }

        .black {
            color: black!important;
        }

        .inline {
            display: inline;
        }

        .grey {
            color: #808080!important;
        }

        .blue1 {
            color: #59A7F5;
        }

        .bg-blue1 {
            background-color: #59A7F5!important;
            color: white!important;
        }

        .subtitulo {
            color: #59A7F5;
            font-weight: bold;
            font-size: 16px;
        }

        .titulo {
            color: #59A7F5;
            text-align: center;
            font-size: 20px;
            font-weight: bold;
        }

        .titulo-producto {
            color: #808080;
            font-weight: bold;
            font-size: 18px;
            text-align: justify;
        }

        .big-titulo {
            color: #59A7F5;
            text-align: center;
            font-size: 32px;
            font-weight: bold;
        }

        .text-footer {
            padding: 20px;
        }

        footer {
            color: white;
            background-color: #59A7F5;
            font-size: 12px;
            font-weight: 400;
        }

        /* Clases de Bootstrap */

        /* Override */

        a.final-button.sep-t-50:hover {
            color: white;
            background-color: #4684C2;
            transition: all 1s;
        }

        a.dropdown-item.active {
            background-color: #59a7f5!important;
        }

        .btn-primary {
            color: #fff!important;
            background-color: #59A7F5!important;
            border-color: #59A7F5!important;
            transition: all 0.5s;
        }

        .btn-primary:hover {
            color: #fff!important;
            background-color: #4684C2!important;
            border-color: #4684C2!important;
            transition: all 0.5s;
        }

        .btn-outline-secondary {
            color: #59A7F5!important;
            border-color: #59A7F5!important;
        }

        .btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show>.btn-outline-secondary.dropdown-toggle {
            color: #59A7F5!important;
            background-color: white!important;
        }

        .btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show>.btn-outline-secondary.dropdown-toggle:hover {
            color: white!important;
            background-color: #59A7F5!important;
        }

        textarea {
            border: 1px solid #59A7F5!important;
        }

        select {
            border: 1px solid #59A7F5!important;
        }

        .btn-outline-secondary:hover {
            color: #fff!important;
            background-color: #59A7F5!important;
            border-color: #59A7F5!important;
        }

        /* Paginación Activa*/

        .page-item.active .page-link {
            z-index: 3;
            color: #fff!important;
            background-color: #59A7F5!important;
            border-color: #59A7F5!important;
            transition: all 0.5s;
        }

        /* Paginación Hover */

        .page-item.active .page-link:hover {
            z-index: 3;
            color: #fff!important;
            background-color: #4684C2!important;
            border-color: #4684C2!important;
            transition: all 0.5s;
        }

        /* Paginación */

        .page-link {
            color: #59A7F5!important;
        }

        /* Collapse Tabs */

        ul.nav.nav-tabs li.nav-item a.nav-link.active {
            color: white;
            background-color: #59A7F5;
            font-weight: bold;
            transition: all 1s;
        }

        ul.nav.nav-tabs li.nav-item a.nav-link.active:hover {
            color: white!important;
            background-color: #4684C2;
            font-weight: bold;
            transition: all 0.5s;
        }

        ul.nav.nav-tabs li.nav-item a.nav-link {
            transition: all 1s;
        }

        ul.nav.nav-tabs li.nav-item a.nav-link:hover {
            background-color: #4684C2;
            color: white!important;
            transition: all 0.5s;
        }

        /* Clases Paises */

        .countries {
            margin-top: 20px;
        }

        .countries a {
            color: white;
            font-weight: bold;
        }

        .country {
            display: inline;
            margin-right: 5%;
        }

        /* Diseño Responsive */

        @media only screen and (max-width:700px) {
            div.block-responsive {
                display: block;
            }
            div.hidden-responsive {
                display: none;
            }
            .Valoracion {
                font-size: 14px;
                text-align: center;
            }
            ul#myTab {
                font-size: 10px;
            }
            .breadcrumb {
                font-size: 10px!important;
            }
            .responsive-display-none {
                display: none;
            }
            a.navbar-brand {
                font-size: 15px;
            }
            a.dropdown-item {
                text-align: right;
            }
            ul.nav.navbar-nav.flex-row.justify-content-between.ml-auto {
                float: right;
            }
            .r-10 {
                border-radius: 10px;
                margin-top: 25px;
            }
            .img-country {
                width: 14px;
                height: 14px;
            }
            .seccion1-1-img {
                margin-top: 25px;
                height: 120px;
            }
            .seccion1-2-img {
                margin-bottom: 25px;
                height: 120px;
            }
            .seccion1-3-img {
                margin-top: 25px;
                height: 120px;
            }
            .sep-b-responsive-25 {
                margin-bottom: 25px;
            }
            .sep-b-responsive-50 {
                margin-bottom: 50px;
            }
            .sep-b-responsive-75 {
                margin-bottom: 75px;
            }
            .img-ico-responsive {
                width: 50%!important;
            }
            .img-ico-responsive-25 {
                width: 50%!important;
            }
            .order {
                order: -2;
            }
        }

        .enlace {
            font-size: 12px;
            color: #59A7F5;
            font-weight: bold;
        }

        .font-banner {
            font-size: 24px;
            font-weight: bold;
        }

        .bold {
            font-weight: bold;
        }

        .v-align-center {
            align-self: center;
        }

        .v-align-end {
            align-self: end;
        }

        .radius {
            border-radius: 100px;
        }

        i.iconos {
            font-size: 20px;
            color: black;
            font-weight: bold;
            margin-right: 10px;
        }

        i a {
            color: #59A7F5;
        }

        a.links {
            color: #59A7F5;
            font-weight: bold;
            letter-spacing: 1px;
        }

        .message {
            color: grey;
            font-weight: bold;
            font-size: 32px;
        }

        a.nav-link {
            font-weight: 400;
        }

        a.nav-link:hover {
            color: #59A7F5!important;
            transition: all 0.5s;
        }

        .breadcrumb {
            background-color: white!important;
        }

        .breadcrumb-item a {
            color: #59A7F5!important;
        }

        .breadcrumb-item.active {
            color: #4684C2!important;
        }

        .final-button {
            background-color: #59A7F5;
            border-radius: 5px;
            width: 50%;
            display: block;
            text-align: center;
            color: white;
            font-weight: bold;
            padding: 5px;
            transition: all 0.5s;
            margin-left: auto;
            margin-right: auto;
        }

        .w-100 {
            width: 100%!important;
        }

        input {
            border: solid 1px #59a7f5!important;
        }

        .fecha {
            font-style: italic;
            color: grey;
            font-size: 12;
        }

        .button {
            background-color: #59A7F5;
            border-radius: 5px;
            width: 100%;
            display: block;
            text-align: center;
            color: white;
            font-weight: bold;
            padding: 5px;
            transition: all 0.5s;
        }

        .border-t-b {
            border-top: solid 1px grey;
            border-bottom: solid 1px grey;
        }

        .border-b {
            border-bottom: solid 1px grey;
        }

        .button:hover {
            background-color: #4684C2;
            transition: all 0.5s;
            color: white;
        }

        .f-10 {
            font-size: 10px;
        }

        .f-12 {
            font-size: 12px;
        }

        .f-14 {
            font-size: 14px;
        }

        .f-16 {
            font-size: 16;
        }

        .f-18 {
            font-size: 18;
        }

        .f-24 {
            font-size: 24px;
        }

        /* Clases de imagenes */

        div#idEstrellas img {
            width: 18px;
            height: 18px;
        }

        .img-100 {
            width: 100%;
        }

        .img-75 {
            width: 75%;
        }

        .img-50 {
            width: 50%;
        }

        .img-25 {
            width: 25%;
        }

        .img-country {
            width: 40px;
            height: 40px;
        }

        .img-center {
            margin-left: auto;
            margin-right: auto;
        }

        .block {
            display: block;
        }

        .r-200 {
            border-radius: 200px;
        }

        .r-10 {
            border-radius: 10px;
        }

        .r-5 {
            border-radius: 5px;
        }

        .cesta-vacia-img {
            background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../img/dog1.jpg") no-repeat center;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        .seccion1-1-img {
            background-image: url("../IMG/Equipo.jpeg");
            background-size: cover;
            background-position: center;
            border-radius: 200px;
        }

        .w-sombra {
            background-color: rgba(255, 255, 255, 0.3);
        }

        .error404 {
            background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../img/error-404.jpg") no-repeat center;
            background-size: cover;
            background-position: center;
            height: 400px;
        }

        .seccion1-2-img {
            background-image: url("../IMG/Servicios.jpg");
            background-size: cover;
            background-position: center;
            border-radius: 200px;
        }

        .seccion1-3-img {
            background-image: url("../IMG/instalaciones.jpg");
            background-size: cover;
            background-position: center;
            border-radius: 200px;
        }

        .banner-1-img {
            background-color: rgba(0, 0, 0, .5);
            background-image: url("../IMG/dog-banner.jpg");
            background-size: cover;
            background-position: center;
        }

        .banner-final-img {
            background-color: rgba(0, 0, 0, .5);
            background-image: url("../IMG/banner-final.png");
            background-size: cover;
            background-position: center;
        }

        .final-banner {
            vertical-align: middle;
            padding: 20px;
            color: black;
            background-color: rgba(255, 255, 255, 0.3);
        }

        .p-center {
            display: table-cell;
            vertical-align: middle;
            padding: 20px;
            color: black;
            background-color: rgba(255, 255, 255, 0.3);
        }

        .h-200 {
            height: 200px;
        }

        .h-250 {
            height: 250px;
        }

        .h-300 {
            height: 300px;
        }

        .h-350 {
            height: 350px;
        }

        .h-400 {
            height: 400px;
        }

        .h-500 {
            height: 500px;
        }

        .p-t-75 {
            padding-top: 75px;
        }

        .p-t-25 {
            padding-top: 25px;
        }

        .p-10 {
            padding: 10px;
        }

        .p-25 {
            padding: 25px;
        }

        .p-b-25 {
            padding-bottom: 25px;
        }

        td.p-b-25>td {
            padding-bottom: 25px;
        }

        /* Clases de separación personales */

        .sep-t-50 {
            margin-top: 50px;
        }

        .sep-t-10 {
            margin-top: 10px;
        }

        .sep-t-100 {
            margin-top: 100px;
        }

        .sep-t-25 {
            margin-top: 25px;
        }

        .sep-b-25 {
            margin-bottom: 25px;
        }

        .sep-r-5 {
            margin-right: 5px;
        }

        .sep-r-10 {
            margin-right: 10px;
        }

        .sep-l-5 {
            margin-left: 5px;
        }

        .sep-l-25 {
            margin-left: 25px;
        }

        .producto-spacing-5 {
            border-spacing: 5em;
        }

        /* Clases Varias */

        .redondeo {
            border-radius: 500px;
            height: 200px;
        }

        /* Barra de posicionamiento scroll */

        .header {
            position: fixed;
            top: 0;
            z-index: 1;
            width: 100%;
            background-color: #f1f1f1;
        }

        /* The progress container (grey background) */

        div.header .progress-container {
            width: 100%;
            height: 8px;
            background: #ccc;
        }

        /* The progress bar (scroll indicator) */

        .progress-bar {
            background: #59A7F5!important;
        }

        div.header div.progress-container .progress-bar {
            height: 8px;
            background: #59A7F5!important;
            width: 0%;
        }