/* Clases Paises */

.countries {
    margin-top: 20px;
}

.countries a {
    color: white;
    font-weight: bold;
}

.country {
    display: inline;
    margin-right: 5%;
}

.text-footer {
    padding: 20px;
}

footer {
    color: white;
    background-color: $blue1;
    font-size: 12px;
    font-weight: 400;
}