/* Barra de posicionamiento scroll */

.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
}

/* The progress container (grey background) */

div.header .progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
}

/* The progress bar (scroll indicator) */

.progress-bar {
    background: #59a7f5 !important;
}

div.header div.progress-container .progress-bar {
    height: 8px;
    background: #59a7f5 !important;
    width: 0%;
}
