/* Barra de posicionamiento scroll */

.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
}


/* The progress container (grey background) */

div.header .progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
}


/* The progress bar (scroll indicator) */

.progress-bar {
    background: $blue1 !important;
}

div.header div.progress-container .progress-bar {
    height: 8px;
    background: $blue1 !important;
    width: 0%;
}

a.nav-link {
    font-weight: 400;
}

a.nav-link:hover {
    color: $blue1 !important;
    transition: all 0.5s;
}

.breadcrumb {
    background-color: white !important;
}

.breadcrumb-item a {
    color: $blue1 !important;
}

.breadcrumb-item.active {
    color: $blue2 !important;
}